body{
    background-color: #181818;
}
li{
    text-align: center;
    margin: 2px;
    font-size-adjust: none;
    display: inline;
    float: left;    
}
li a:hover{
    background-color: #111;
    color:red;
}
li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        width: 80px;
}
a
{
 color: red;
}
iframe
{
    padding-bottom: 10px;
}
footer1
{
    
}
ul {
    padding-right: 500px;
    list-style-type: none;
    margin: 20px;
    overflow: hidden;
    background-color: #000000;
    text-align: center;
}
h2{
    color: red;
}
h3{
    color: white;
}
p
{
    color: white;
}
#home1
{
    
}
#logo
{
    margin: 50px;
}
#text
{
    background-color: #171717;
    width: 500px;
    margin: 60px;
}
#TextStuff
{
    float: left;
    height: 100px;
}
#TextStuff2
{
}
#SocialMedia
{

}
button
{
    background-color: Black;
    color: White;
}
#container
{
    position: relative;
    background-color: transparent;
    padding-left: 100px;
}
#animate
{
    padding-left: 1000px;
    width: 548px;
    height: 411px;
    position: fixed;
    background: url(./images/easteregg.png);
    z-index: 1;
}
#callanim
{

    width: 600px;
    height: 400px;
    position: fixed;
    background: url(./images/call.png);
    z-index: 1;
    float: left;
    
}
.hidden{
    display:none;
}
.unhidden{
    display: block;
}
