#liquidations
{
    float: right;
    background-color: #171717;
    width: 600px;
    margin: 60px;
}
#liquidations-1
{
    padding-right: 100px;
}
#text-ticker
{
    float: left;
    margin: 60px;
    background-color: #171717;
    width: 700px;
}